{% extends "Industrial/generic.html" %}

{% block content %}
    <section>
        <header>
            <h2>Qual tipo de usuário você é?</h2>
            <h4>Essa escolha é irreversível</h4>
            <span class="byline"></span>
            <form method="POST">{% csrf_token %}
                {{ form }}
                <input type='submit' value="Confirmar" onClick="clicked(event)"/>
            </form>
        </header>
    </section>
    <script>
        function clicked(e)
        {
            if(!confirm('Essa ação é irreversível. Deseja continuar?')) {
                e.preventDefault();
            }
        }
        </script>
{% endblock %}