{% extends "Industrial/generic.html" %}

{% block content %}
    <section>
        <header>
            <h2>Cadastro de Usuários</h2>
            <span class="byline"></span>
            <form method="POST" action="">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                {% for fields in form %}
                    {{ fields.label }}
                    {{ fields }}
                {% endfor %}
                <input type='submit' value="Cadastrar"/>
                <input type="button" value="Resetar campos" onClick="this.form.reset()" />
            </form>
        </header>
    </section>
{% endblock %}