{% extends "Industrial/generic.html" %}

{% block content %}
    <section>
        <header>
            <h2>Login</h2>
            <span class="byline"></span>
            <form method="POST" action="">
                {% csrf_token %}
                {% if error %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endif %}
                {% for fields in form %}
                    {{ fields.label }}
                    {{ fields }}
                {% endfor %}
            <input type='submit' value="Login"/>
            {% for message in messages %}
                <p id="messages">{{ message }}</p>
            {% endfor %}
        </header>
    </section>
{% endblock %}