{% load static %}
<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>LedsPlay</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../../static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		{%  include 'Industrial/navbar.html' %}

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>LedsPlay</h1>
					<p>Sistema de Gestão de Competências com Gamificação<br />
					Construído para Disciplinas de Desenvolvimento Web e Web Semântica em 2020/2E.</p>
				</div>
				<video autoplay loop muted playsinline src="../../static/images/banner_bokeh.mp4"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Conecte-se aos profissionais certos</h2>
						<p>Compartilhe experiências, adquira novas habilidades e colabore em projetos empolgantes com o LedsPlay.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-id-card-o"><span class="label">Icon</span></a>
									<h3>Mostre sua competência</h3>
								</header>
								<p>O LedsPlay permite que você se cadastre e todas as suas habilidades e qualificações fiquem em evidência para empresas e clientes que procuram os melhores profissionais.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-lightbulb-o"><span class="label">Icon</span></a>
									<h3>Busque e desenvolva novas competências</h3>
								</header>
								<p>Compartilhe experiências e ganhe recompensas de acordo com o progresso de suas habilidades.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-handshake-o"><span class="label">Icon</span></a>
									<h3>Encontre os melhores projetos para você</h3>
								</header>
								<p>Receba propostas profissionais ideais para o seu perfil e suas competências.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>Leve sua empresa para o próximo nível</h3>
								</header>
								<p>Encontre profissionais talentosos em diversas áreas de competência para melhorar a performance do seu empreendimento.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-briefcase"><span class="label">Icon</span></a>
									<h3>Crie grandes projetos colaborativos</h3>
								</header>
								<p>Monte uma equipe exemplar para colaborar em projetos de acordo com as competências necessárias.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-star-o"><span class="label">Icon</span></a>
									<h3>Avalie</h3>
								</header>
								<p>Após a colaboração, avalie o profissional de acordo com sua competência, e deixe um comentário para compartilhar a experiência.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>Cresça profissionalmente com LedsPlay</h2>
					<p>O talento e o projeto que você procura estão aqui.</p>
				</div>
			</section>
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>Accumsan montes viverra</h3>
							<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
						</section>
						<section>
							<h4>LedsPlay</h4>
							<ul class="alt">
								<li>Aleph Campos da Silveira</li>
								<li>Atílio Antônio Dadalto</li>
								<li>Davi de Souza Petris</li>
								<li>Gabriel Sorio Flor</li>
								<li>Rodrigo Fernandes Calhau</li>
								<li>Vitor Ferraz Matos Brunoro</li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../../static/assets/js/jquery.min.js"></script>
			<script src="../../static/assets/js/browser.min.js"></script>
			<script src="../../static/assets/js/breakpoints.min.js"></script>
			<script src="../../static/assets/js/util.js"></script>
			<script src="../../static/assets/js/main.js"></script>

	</body>
</html>
