<!-- Header -->
<header id="header">
    <a class="logo" href="index.html">LedsPlay</a>
    <nav>
        {% if not request.user.is_anonymous %}
        <span id="hell0-msg"> Ola, {{ request.user }} </span>
        {% endif %}
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Nav -->

<nav id="menu">
    <ul class="links">
        <li><a href={% url 'index' %}>Home</a></li>
        {% if not request.user.is_authenticated %}
            <li><a href={% url 'login' %}>Login</a></li>
            <li><a href={% url 'register:cadastro' %}>Cadastro</a></li>
        {% elif request.user.is_authenticated %}
            <li><a href={% url 'costumer:dashboard' %}> Dashboard do {{request.user.pessoa.user_type}}</a></li>
            <li><a href={% url 'register:cadastrados' %}>Cadastrados</a></li>
            <li><a href={% url 'Elementos' %}>Elementos</a></li>
            <li><a href={% url 'Generic_Page' %}>Página Generica</a></li>
            <li><a href={% url 'logout' %}>Logout</a></li>
        {% endif %}


    </ul>
</nav>

<!-- Nav -->