{%  extends 'Dashboard/main.html' %}

{% block content %}

    <br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>{{ user.pessoa.user_type }}: {{ user }}</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'costumer:edit' %}">Update Cliente</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'costumer:createOrdem' %}">Criar Ordem</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'register:delete' cliente.pk %}">Deletar Cliente</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{ user.email }} </p>
			<p>Cidade: {{ user.pessoa.cidade }} </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ order_count }}</h1>
		</div>
	</div>
</div>


{% include 'Dashboard/search.html'%}

{% include 'Dashboard/painel.html' %}

{% endblock %}