{%  extends 'Dashboard/main.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer: {{ pessoa.nome }}</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'costumer:edit' %}">Update Cliente</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'costumer:createOrdem' pessoa.pk %}">Criar Ordem</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'register:delete' pessoa.pk %}">Deletar Cliente</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{ pessoa.email }} </p>
			<p>cidade: {{ pessoa.cidade }} </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="Deliveredtext-align: center;padding: 10px">{{ order_count }}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
                {{myFilter.form}}
		    <button class="btn btn-primary" type="submit">Buscar</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
                <h5>Tabela de Ordens</h5>
				<tr>
					<th>Competencia</th>
					<th>Categoria</th>
					<th>Data Criada</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

                {% for order in ordens %}
                    <tr>
                        <td>{{order.competencia.nome}}</td>
                        <td>{{order.competencia.categoria}}</td>
                        <td>{{order.data_created}}</td>
                        <td>{{order.status}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'updateOrdem' order.id %}">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'deleteOrdem' order.id %}">Remover</a></td>
                    </tr>
                {% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}