{%  extends 'Dashboard/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Products</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Competencia</th>
							<th>Categoria</th>
							<th>data_created</th>
						</tr>

						{% for i in products %}
							<tr>
								<td>{{i.nome}}</td>
								<td>{{i.categoria}}</td>
								<td>{{i.data_created}}</td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}