{%  extends 'Dashboard/main.html' %}

{% block content %}

    <br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>{{ user.person.user_type }}: {{ user }}</h5>
			<hr>
            {% if user.person.user_type == "Customer" %}
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'costumer:edit' %}">Update {{ user.person.user_type }}</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'costumer:createOrder' %}">Criar Ordem</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'register:delete' customer.pk %}">Deletar {{ user.person.user_type }}</a>
            {% endif %}
            {% if user.person.user_type == "Professional" %}
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'professional:edit' %}">Update {{ user.person.user_type }}</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'costumer:createOrder' %}">Cadastrar Competência</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'register:delete' professional.pk %}">Deletar {{ user.person.user_type }}</a>
            {% endif %}
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Informações de Contato</h5>
			<hr>
			<p>Email: {{ user.email }} </p>
			<p>Cidade: {{ user.person.city }} </p>
		</div>
	</div>

{% if user.person.user_type == "Customer" %}
	<div class="col-md">
		<div class="card card-body">
			<h5>Total de Ordens</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ order_count }}</h1>
		</div>
	</div>
</div>
{%elif user.person.user_type == "Professional" %}
	<div class="col-md">
		<div class="card card-body">
			<h5>Total de Competencias</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ order_count }}</h1>
		</div>
	</div>
</div>
{% endif %}

{% include 'Dashboard/search.html'%}

{% include 'Dashboard/painel.html' %}

{% endblock %}
