{%  extends 'Dashboard/main.html' %}

{% block content %}

    <br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>{{ user.pessoa.user_type }}: {{ user.pessoa }}</h5>
			<b>Média: {{user.pessoa.profissional.media}}</b>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'professional:dashboard' %}">Atualizar Usuário</a>
            {% if user.pessoa.user_type == "Cliente" %}
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'costumer:edit' %}">Atualizar {{ user.pessoa.user_type }}</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'costumer:createOrdem' %}">Criar Ordem</a>
            {% endif %}
            {% if user.pessoa.user_type == "Profissional" %}
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'professional:edit' %}">Update {{ user.pessoa.user_type }}</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'professional:createCompetencia' %}">Cadastrar Competência</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'professional:addCompetencia' %}">Adicionar Competência</a>
            {% endif %}
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Informações de Contato</h5>
			<hr>
			<p>Email: {{ user.email }} </p>
			<p>Cidade: {{ user.pessoa.cidade }} </p>
		</div>
	</div>

{% if user.pessoa.user_type == "Cliente" %}
	<div class="col-md">
		<div class="card card-body">
			<h5>Total de Ordens</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ order_count }}</h1>
		</div>
	</div>
</div>
{%elif user.pessoa.user_type == "Profissional" %}
	<div class="col-md">
		<div class="card card-body">
			<h5>Total de Competências</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ order_count }}</h1>
		</div>
	</div>
</div>
{% endif %}

{% include 'Dashboard/search.html'%}

{% include 'Dashboard/painel.html' %}

{% endblock %}
